/* Global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* colors and other variables that will be used throughout the web site */
:root{
    --text-color:#131313;
    --header-background-color:rgba(255, 144, 14, 0.1);
    --btn-background-color:rgba(255, 144, 14, 1);
    --p-text-color:rgba(114, 114, 114, 1);
    --nav-item-color:#424242;

}

/* Header styles */
header{
    background-color: var(--header-background-color);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}
.nav-elts ul{
    display: flex;
}
.nav-elts ul>li{
    list-style: none;
}
.nav-elts ul>li>a{
    text-decoration: none;
    color: var(--nav-item-color);
    margin-left: 2.5rem;
}
.header-info{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.header-info h1{
    font-weight: 800;
    font-size: 2.5rem;
}
.header-info p{
    text-align: center;
    margin-top: 20px;
}
.btn{
    background-color: var(--btn-background-color);
    width: 8rem;
    height: 2.5rem;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 4rem;
    cursor: pointer;
}
.header-image{
    margin: 0 auto;
    width: 80%;
    padding-bottom: 2rem;
}
.header-image img{
    width: 100%;
}
/* feature section */
.features{
    display: flex;
    width: 70%;
    margin: 4rem auto;
    
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
.feature-img img{
    width: 200px;
}
.feature-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin-left: 5rem;

}
.feature-text h1{
    font-size: 34px;
    font-weight: 800;
}
.feature-text p{
    margin-top: 1rem;
}

/* feature description section */
.feature-description{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2rem auto;
    
}
.feature-container{
    position: relative;
}
.left-des{
    width: 450px;
}
.left-des h1{
    border-left: 3px solid var(--btn-background-color);
    padding-left: 10px;
    margin-bottom: 1rem;
}
.left-des p{
    color: var(--p-text-color);
    font-size: 14px;
    margin-bottom: 1rem;
}
.feture {
    border-radius: 5px;
    box-shadow: 0px 0px 9px -4px rgb(173 162 162 / 61%);
    margin: 0.9rem 0px;
    border: none;
    padding: 14px 18px;
}
.feture h5 {
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 0.5rem;
}
.feture p{
    font-size: 13px;
}
.right-des {
    display: flex;
    justify-content: end;
}
.right-des img {
    width: 90%;
    height: 90%;
    margin-top: 2rem;
}
.btn-special-stle {
    font-size: 28px;
    font-weight: 800;
}
.experience-btn {
    position: absolute;
    top: 87%;
    width: 8rem;
    height: 5rem;
    left: 50%;
}

/* fact section style */
.fact-container {
    width: 80%;
    margin: 6rem auto;
}
.fact-container>h1 {
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 1.2rem;
}
.fact-container>p {
    font-size: 12px;
    width: 40%;
}
.fact-card-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    flex-wrap: wrap;
}
.card {
    border: 1px solid var(--btn-background-color);
    border-radius: 5px;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img{
    width: 30%;
    margin-top: 1rem;
    margin-bottom: .4rem;
}
.card h1{

}
.card p {
    font-size: 13px;
    margin: 0.5rem auto;
    margin-bottom: 1.9rem;
}
/* sponsors section */
.sponson-container {
    width: 80%;
    margin: 5rem auto;
}
.sponson-container>h1 {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
.sponson-container>p {
    width: 50%;
    margin: 1.5rem auto;
    text-align: center;
    font-size: 12px;
}
.sponsors {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.sponsor-img img {
    width: 95px;
    filter: grayscale(100%);
}

/* footer */
.footer {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  .footer-flex{
    display: flex;
  }
  .services{
    width: 250px;
  }
  .about{
    width: 300px;
  }
  .company{
    width: 500px;
  }
  .company>p {
    font-size: 12px;
    font-weight: 100;
}
  .footer-container{
    width: 80%;
    margin: 1rem auto;
  }
  .footer h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer ul a:hover {
    opacity:0.8;
  }
  .copyright {
    background-color: #FFF4E7;
    color: black;
    width: 80%;
    text-align: center;
    padding: 1rem 0.5rem;
    margin: 2rem auto;
    border-radius: 25px;
}


/* responsive for mobile devices */
@media screen and (max-width:576px) {
    header{
        background-color: var(--header-background-color);
    }
    .logo {
        width: 100vw;
        text-align: center;
    }
    .nav-elts ul>li {
        list-style: none;
        margin: 2px auto;
    }
    .nav-elts ul>li>a{
        text-decoration: none;
        color: var(--nav-item-color);
        margin-left: 1.5rem;
    }
    .header-info {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
    }
    .header-info h1{
        font-weight: 800;
        font-size: 1.5rem;
    }
    .header-info p{
        text-align: center;
        margin-top: 10px;
    }
    .logo>h1 {
        font-size: 32px;
        margin: 1rem auto;
    }
    .btn {
        background-color: var(--btn-background-color);
        width: 5rem;
        height: 2.5rem;
        margin-top: 2rem;
        border: none;
        border-radius: 5px;
        color: white;
        margin-bottom: 4rem;
        cursor: pointer;
    }
    .header-image {
        margin: 0 auto;
        width: 100vw;
        justify-content: center;
        display: flex;
        margin-left: auto;
        padding-bottom: 2rem;
    }
    .header-image img{
        width: 90%;
    }
    nav {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 2px auto;
        width: 100vw;
    }
    .nav-elts ul{
        display: flex;
        flex-direction: column;
    }
    .features {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 4rem auto;
        align-items: center;
    }
    .sponsors {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-flex {
        display: flex;
        flex-direction: column;
    }
    /* main section */
    .features{
        display: flex;
        width: 70%;
        margin: 4rem auto;
        
        align-items: center;
    }
    .feature-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }
    .feature-img img {
        width: 250px;
    }
    .feature-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin-top: 2rem;
        margin-left: auto;
    }
    .feature-text h1{
        font-size: 34px;
        font-weight: 800;
    }
    .feature-text p{
        margin-top: 1rem;
    }
    /* feature description section */
    .feature-description {
        display: flex;
        flex-direction: column-reverse;
        /* flex-direction: column; */
        justify-content: space-between;
        width: 80%;
        margin: 2rem auto;
    }
.feature-container{
    position: relative;
}
.left-des {
    width: 80%;
    margin: 2rem auto;
}
.left-des h1{
    border-left: 3px solid var(--btn-background-color);
    padding-left: 10px;
    margin-bottom: 1rem;
}
.left-des p{
    color: var(--p-text-color);
    font-size: 14px;
    margin-bottom: 1rem;
}
.feture {
    border-radius: 5px;
    box-shadow: 0px 0px 9px -4px rgb(173 162 162 / 61%);
    margin: 0.9rem 0px;
    border: none;
    padding: 14px 18px;
}
.feture h5 {
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 0.5rem;
}
.feture p{
    font-size: 13px;
}
.right-des {
    display: flex;
    justify-content: end;
}
.right-des img {
    width: 90%;
    height: 90%;
    margin-top: 2rem;
}
.btn-special-stle {
    font-size: 28px;
    font-weight: 800;
}
.experience-btn {
    position: absolute;
    top: 97%;
    width: 8rem;
    height: 5rem;
    left: 32%;
}
    
/* fact section style */
.fact-container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 7rem auto;
}
.fact-container>h1 {
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1.2rem;
}
.fact-container>p {
    font-size: 12px;
    width: 100%;
    text-align: center;
}
.fact-card-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    flex-wrap: wrap;
}
.card {
    border: 1px solid var(--btn-background-color);
    border-radius: 5px;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img{
    width: 30%;
    margin-top: 1rem;
    margin-bottom: .4rem;
}
.card h1{

}
.card p {
    font-size: 13px;
    margin: 0.5rem auto;
    margin-bottom: 1.9rem;
}
/* sponsors section */
.sponson-container {
    width: 80%;
    margin: 5rem auto;
}
.sponsors {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sponsor-img {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.sponson-container>p {
    width: 50%;
    margin: 1.5rem auto;
    text-align: center;
    font-size: 12px;
}
.sponsors {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.sponsor-img img {
    width: 95px;
    filter: grayscale(100%);
}

/* footer */
.footer {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  .footer-flex {
    display: flex;
    flex-direction: column;
}
  .services{
    width: 250px;
  }
  .about{
    width: 300px;
  }
  .company {
    width: 300px;
}
  .company>p {
    font-size: 12px;
    font-weight: 100;
}
  .footer-container{
    width: 80%;
    margin: 1rem auto;
  }
  .footer h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer ul a:hover {
    opacity:0.8;
  }
  .copyright {
    background-color: #8f7b6400;
    color: white;
    font-size: 8px;
    width: 100%;
    text-align: center;
    padding: 1rem 0.5rem;
    margin: 2rem auto;
    border-radius: 25px;
}
}